.table {
	border-collapse: collapse;
	width: 100%;
}

.table-thead > tr > th {
	border-bottom: 1px solid #eaf0fa;
	padding: 0 0 20px;
	font-weight: 400;
	font-size: 14px;
	line-height: 148%;
	text-align: left;
	color: var(--text-secondary);
}

.table-thead > tr > th:last-child div {
	justify-content: end;
	padding-right: 16px;
}

.table-type-cell {
	width: 54px;
}

.table-date-cell {
	width: 88px;
}

.table-avatar-cell {
	width: 129px;
}

.table-call-cell {
	width: 325px;
}

.table-source-cell {
	width: 214px;
}

.table-eval-cell {
	width: 461px;
}

.table-time-cell {
	width: 110px;
}

.table-tbody > tr > td {
	border-bottom: 1px solid #eaf0fa;
	padding: 16px 0;
	font-weight: 400;
	font-size: 15px;
	line-height: 140%;
	color: var(--text-primary);
}

.table-tbody > tr > td:last-child {
	padding-right: 40px;
	text-align: right;
}

.table-tbody > tr > td > img {
	height: 32px;
}

.table-tbody > .table-date-row td:last-child {
	padding-right: 0;
	width: 100%;
	text-align: left;
}

.table-tbody > .table-date-row td:last-child sup {
	font-size: 12px;
	color: #899cb1;
}

.table-tbody-tr {
	transition: 0.2s all ease-in;
	cursor: pointer;
}

.table-tbody-tr:hover {
	background: rgba(212, 223, 243, 17%);
}

.table-audio {
	position: relative;
}

.content-secondary {
	color: var(--text-secondary);
}
