.select {
    position: relative;
}

.select-title {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.select-selected {
    padding-right: 4px;
    color: var(--text-secondary);
    transition: 0.2s all ease-in;
}

.select-selected-active {
    padding-right: 4px;
    color: #1f46fb;
    transition: 0.2s all ease-in;
}

.select-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-title:hover .select-selected {
    color: var(--text-accent);
}

.select-dropdown {
    position: absolute;
    z-index: 10;
    margin-top: 12px;
    border-radius: 8px;
    padding: 4px 0;
    width: 133px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 8%);
    background: white;
}

.select-dropdown div {
    padding: 7px 12px;
    font-family: SFCompactDisplayRegular, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--text-primary);
    transition: 0.2s ease-in;
    cursor: pointer;
}

.select-dropdown div:hover {
    background: var(--background-hover);
}

.select-dropdown .active {
    color: var(--text-dropdown-blue);
}
